.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    width: 280px;
    height: 100%;
    background-color: #fff;
    line-height: 56px;
    box-shadow: none;

    & .navbar-header {
        border-bottom: 1px solid rgba(0, 0, 0, .0625);
        border-right: 1px solid rgba(0, 0, 0, .0625);
        height: 50px;
        padding: 0 2rem;
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        display: flex;
        align-items: center;

        & .navbar-brand {
            color: #333;
            font-size: 1.2rem;
        }
    }
    
    & .navbar-sidenav {
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border-right: 1px solid rgba(0, 0, 0, .0625);
        height: calc(100vh - 50px);
        list-style: none;
        width: 280px;

        & > li {
            float: unset;

            & > a {
                display: flex;
                align-items: center;
                padding: 0 1rem;
                height: 3rem;

                & i {
                    margin-right: 15px;
                }
            }
        }
    }
}