html,
body {
    height: 100%;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
}

button {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

input {
    margin-bottom: 0 !important;
}

button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

button:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}

a {
    cursor: pointer !important; 
    color: #72777a !important;

    &:hover {
        color: #313435 !important;
    }
}

.content-wrapper {
    margin-left: 280px;
    min-height: 100vh;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    & .header {
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, .0625);
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        width: calc(100% - 280px);
        position: fixed;
        height: 50px;
        z-index: 2;
    }

    & .main-content {
        min-height: calc(100vh - 50px);
        padding-top: 4rem;
    }
}