<template>
    <require from="../navmenu/navmenu.html"></require>
    <navmenu router.bind="router"></navmenu>
    <div class="content-wrapper">
        <header class="header navbar navbar-expand-lg justify-content-between">
            <ul class="navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link px-2">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav flex-row">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <span>Søren Christiansen</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item">
                                <i class="fa fa-cog mr-1"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item">
                                <i class="fa fa-sign-out mr-1"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>
        <main class="main-content col-lg-12">
            <router-view></router-view>
        </main>
    </div>
</template>