<template bindable="router, isadmin">
    <nav class="navbar-expand-lg main-nav">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">SC ADMIN</a>
        </div>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarResponsive">
            <ul class="navbar-sidenav">
                <li repeat.for="row of router.navigation" class="nav-item ${row.isActive ? 'active': ''}">
                    <a class="nav-link" href.bind="row.href">
                        <i class="material-icons">supervisor_account</i> ${row.title}
                    </a>
                </li>
                <li class="nav-item ${router.currentInstruction.config.name === 'profiles' ? 'active': ''}">
                    <a class="nav-link" href="/profiles">
                        <i class="material-icons">supervisor_account</i> Profiles
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</template>