<template>
    <div slot="site">
        <form role="form" submit.delegate="login()">
            <input class="form-control" type="text" name="userName" value.bind="userName">
            <input class="form-control" type="password" name="password" value.bind="password">
            <button class="btn btn-primary" type="submit">Login</button>

            <section class="alert alert-danger" if.bind="hasError">
                ${error}
            </section>
        </form>
    </div>
</template>