.login-container {
    height: 100vh;
    background-image: url(/images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    & .login-box {
        background-color: #fff;
        border-radius: 10px;
        padding: 50px;
        overflow: hidden;
        box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);

        & form  {
            & > .btn-sc {
                border-radius: 27px;
                min-width: 120px;
                margin-bottom: 1rem;
            } 

            & .forgot-password-link {
                text-decoration: none;
                color: #333;

                &:hover {
                    color: #0e616e;
                }
            }
        }
        
        
    }
}

.btn-sc {
    background-color: #17a2b8;
    color: #fff;

    &:hover {
        background-color: #0e616e;
    }
}